In [1]:
import pandas as pd

In [2]:
dfUS=pd.read_csv('university_data.csv')
dfCANADA=pd.read_csv('university_data1.csv')

In [3]:
dfUS['country']='US'
dfUS['course']='CE/CS'
dfUS

,GRE Score,GPA,IELTS Score,Research Paper,University Ranking,University Name,Admit Probability,country,course
0,51,0.5,3.7,55,77,California Institute of Technology (Caltech),0.62,US,CE/CS
1,163,1.0,8.0,45,66,Los Angeles (UCLA),0.11,US,CE/CS
2,176,1.2,4.9,7,83,University of Rochester,0.22,US,CE/CS
3,145,1.7,4.3,37,67,University of Notre Dame,0.58,US,CE/CS
4,44,2.2,2.3,5,55,University of Virginia,0.04,US,CE/CS
...,...,...,...,...,...,...,...,...,...
995,254,0.2,2.7,18,88,Irvine (UCI),0.94,US,CE/CS
996,301,0.9,7.3,4,66,University of Pennsylvania,0.50,US,CE/CS
997,232,1.5,2.3,64,24,University of Iowa,0.30,US,CE/CS
998,142,2.3,8.2,79,11,Florida State University,0.25,US,CE/CS
999,253,2.6,6.5,80,86,San Francisco (UCSF),0.11,US,CE/CS

In [4]:
dfCANADA['country']='CANADA'
dfCANADA['course']='CE/CS'
dfCANADA

,GRE Score,GPA,IELTS Score,Research Paper,University Ranking,University Name,Admit Probability,country,course
0,45,1.6,4.9,20,48,McMaster University,0.28,CANADA,CE/CS
1,326,0.4,8.3,71,66,University of Western Ontario,0.97,CANADA,CE/CS
2,25,3.6,5.4,50,68,Thompson Rivers University,0.37,CANADA,CE/CS
3,311,2.4,1.7,17,2,University of New Brunswick,0.40,CANADA,CE/CS
4,243,2.9,2.5,66,99,University of Calgary,0.40,CANADA,CE/CS
...,...,...,...,...,...,...,...,...,...
995,65,2.7,6.6,30,64,Thompson Rivers University,0.50,CANADA,CE/CS
996,159,3.6,4.4,51,47,Cape Breton University,0.43,CANADA,CE/CS
997,15,1.3,2.7,33,35,University of Ottawa,0.84,CANADA,CE/CS
998,70,1.9,2.4,10,98,University of Prince Edward Island,0.04,CANADA,CE/CS
999,241,3.4,1.6,88,35,Queen's University,0.41,CANADA,CE/CS

In [5]:
dfUS = dfUS.iloc[:-1]
dfCANADA = dfCANADA.iloc[:-1]
dfUS.to_csv('testUS.csv')
dfCANADA.to_csv('testCANADA.csv')

In [6]:
df_combined = pd.concat([dfUS, dfCANADA], ignore_index=True)

# Save the combined DataFrame to a new CSV file
df_combined.to_csv('combined_data.csv', index=False)